<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="text-center">
      <ion-icon src="../../assets/icon.svg" style="font-size: 48px;"></ion-icon>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" *ngIf="covids && covidRate"> 
  <ion-grid >
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" (click)="changeTab('/tabs/tab4')">
            <ion-icon slot="start" name="location" class="faa-pulse animated fa-4x"></ion-icon>
            How safe are you?</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="7" class="ion-align-self-center">
        <h3 style="color:#aaaaaa;margin: 0px;">INDIA COVID-19 TRACKER</h3>
        </ion-col>
        <ion-col size="5" class="ion-align-items-end">
          <div class="last-update">
            <h6>Last Updated</h6>
            <h6>{{lastUpadtedOn}} ago</h6>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  <ion-grid >
    <ion-row>
      <ion-col style="padding: 0px;" size="6" class="ion-align-self-start" *ngFor="let item of covids">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
            <ion-card-title [countUp]="item.data" [ngStyle]="{color:item.colorText}"></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col style="padding: 0px;" size="6" class="ion-align-self-start" *ngFor="let item of covidRate">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
            <ion-card-title [ngStyle]="{color:item.colorText}">{{item.data}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>      
    </ion-row>
    </ion-grid> 

  <div style="background-color: #3880ff; padding:4px">
    <p class="text-center text">STAY HOME STAY SAFE</p>
  </div> 
</ion-content>

